<mat-toolbar color="primary">
    <span>AppTest</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{item.nombre}}</button>
    
    <span class="example-spacer"></span>
  </mat-toolbar>