<div class="container">
    <mat-toolbar>
        <span>Usuarios</span>
    </mat-toolbar>

    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>

    <div *ngIf="listUser.length > 0">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="buscar" #input autocomplete="off">
        </mat-form-field>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>
    
            <!-- Position Column -->
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario. </th>
                <td mat-cell *matCellDef="let element"> {{element.user}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="sex">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
                <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                    <a class="pointer"  [routerLink]="['/dashboard/edita-usuario', i]"  matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" (click)="deleteUser(i)" style="color: #E15369;" matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    </div>
    
    <h2 *ngIf="listUser.length == 0">No exite usuario registrado</h2>

</div>