<div class="container">
    <mat-toolbar>
        <span>{{titel}}</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form"(ngSubmit)="saveSuser()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Usuario  </mat-label>
                        <input matInput autocapitalize="off" formControlName="user" (keypress)="onKeypressEvent($event)" [maxlength]="25" >
                    </mat-form-field>
                    <span>{{size}}</span>
                    
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5"></mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocapitalize="off" formControlName="firstName">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput autocapitalize="off"  formControlName="lastName">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sex"> 
                            <mat-option *ngFor="let s of sexo" [value]="s"> {{s}} </mat-option>
                        </mat-select>
                    </mat-form-field>                    
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="button" (click)="back()" mat-raised-button style="margin-right: 20px;">Volver</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Actar</button>

                </mat-grid-tile>
            </mat-grid-list>
        </form>


    </mat-card>
</div>