<div class="container">
    <mat-toolbar>
        <span>Carros</span>
    </mat-toolbar>

    <div *ngIf="cars.length > 0">
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z10" matSort>
    
            <!-- Position Column -->
            <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo. </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let element"> {{element.color}}</td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="doors">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Puertas </th>
                <td mat-cell *matCellDef="let element"> {{element.doors}}</td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                    <a class="pointer" (click)="deleteCar(element)" style="color: #E15369;" matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    </div>
    
    <h2 *ngIf="cars.length == 0">No exite carros registrado</h2>
</div>
